.stories__title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 48px;
}

.search__content {
  display: flex;
  flex-direction: column;
  padding-block: 16px;
  gap: 32px;
}

.search__filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 16px 16px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--card-radius);
}

.search-filter__row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-filter__container {
  width: 100%;
}

.search-cards__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-top: 16px;
}

/* RESPONSIVE TABLETTE */
@media (min-width: 768px) {

  .stories__title-header {
    padding-block: 64px;
  }

  .search__filters {
    min-width: 328px;
    height: fit-content;
  }

  .search-filter__row {
    flex-direction: row;
    gap: 16px;
  }

  .search-filter__container {
    width: 100%;
  }

  .search__results {
    width: 100%;
  }

  .search-cards__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

}

/* RESPONSIVE DESKTOP */
@media (min-width: 1224px) {

  .search__content {
    flex-direction: row;
    padding-block: 32px;
  }

  .search-filter__row {
    flex-direction: column;
  }

  .search-filter__container {
    width: 100%;
  }

  .search-cards__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

}
