# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Images
back/public/uploads/*
!back/public/uploads/.gitkeep
!back/public/uploads/avatars/.gitkeep
!back/public/uploads/banners/.gitkeep
!back/public/uploads/portraits/.gitkeep
!back/public/uploads/places/.gitkeep
