/* Reset */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
}

html {
font-size: 62.5%;
}

li {
list-style-type: none;
}

/* General design */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  background-color: lightgrey;
  padding: 8px;
}