/* Reset */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
}

html {
font-size: 62.5%;
}

li {
list-style-type: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge (webkit) */
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary-bg);
  font-family: var(--font-family-inter);
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/* General design */

h1 {
  font-size: var(--font-size-2xl);
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  background-color: lightgrey;
  padding: 8px;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

input, select {
  background: var(--primary-bg);
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: var(--text-regular);
  padding-inline: 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--input-radius);
  transition: border 200ms ease;
  height: 44px;
}

input::placeholder {
  color: var(--subtle-text);
}

input:focus {
  outline: none;
  border: 1px solid var(--text-color);
  box-shadow: none;
}

select {
  padding-right: 40px;
  appearance: none;
  position: relative;
}


select:hover, select:focus {
  border: 1px solid var(--text-color);
  cursor: pointer;
}

select option {
  color: var(--text-color);
}

select:has(option:first-child:checked) {
  color: var(--subtle-text);
}

.select__container {
  position: relative;
  display: inline-block;
}

.select__icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: var(--text-color);
  pointer-events: none; 
}