@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root { 
    /* FONT FAMILY */
  --font-family-inter: 'Inter', sans-serif;

  /* COLORS (PRIMITIVES) */
  --zinc-950: #09090B;
  --zinc-900: #18181B;
  --zinc-800: #27272A;
  --zinc-700: #3F3F46;
  --zinc-600: #52525C;
  --zinc-500: #71717B;
  --zinc-400: #9F9FA9;
  --zinc-300: #D4D4D8;
  --zinc-200: #E4E4E7;
  --zinc-100: #F4F4F5;
  --zinc-050: #FAFAFA;
  --green-950: #032E15;
  --green-900: #0D542B;
  --green-500: #00C950;
  --green-300: #7BF1A8;
  --green-050: #F0FDF4;
  --red-950: #460809;
  --red-900: #82181A;
  --red-500: #FB2C36;
  --red-300: #FFA2A2;
  --red-100: #FFE2E2;
  --stone-400: #A6A09B;

  /* COLORS (TOKENS) */
  --text-color: var(--zinc-050);
  --text-invert: var(--zinc-900);
  --subtle-text: var(--zinc-500);
  --primary-bg: var(--zinc-900);
  --invert-bg: var(--zinc-050);
  --secondary-bg: var(--zinc-800);
  --secondary-invert-bg: var(--zinc-200);
  --border-color: var(--zinc-700);
  --success-color: var(--green-500);
  --positive-color: var(--green-500);
  --error-color: var(--red-500);
  --negative-action-color: var(--red-500);

  /* FONT WEIGHT (PRIMITIVES) */
  --font-regular: 300;
  --font-medium: 400;
  --font-semibold: 600;

  /* FONT WEIGHT (TOKENS) */
  --text-regular: var(--font-regular);
  --chip-regular: var(--font-regular);
  --text-medium: var(--font-medium);
  --text-semibold: var(--font-semibold);
  --title-semibold: var(--font-semibold);
  --subtitle-semibold: var(--font-semibold);
  --bodytitle-semibold: var(--font-semibold);
  --bodysubtitle-semibold: var(--font-semibold);
  --label-semibold: var(--font-semibold);

  /* FONT SIZES (PRIMITIVES) */
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.0rem;
  --font-size-xl: 2.4rem;
  --font-size-2xl: 3.2rem;

  /* FONT SIZES (TOKENS) */
  --title-size: var(--font-size-xl);
  --title-size-dt: var(--font-size-2xl);
  --subtitle-size: var(--font-size-xl);
  --bodytitle-size: var(--font-size-xl);
  --bodysubtitle-size: var(--font-size-lg);
  --banner-desc-size: var(--font-size-lg);
  --label-size: var(--font-size-md);
  --text-size: var(--font-size-md);
  --chip-size: var(--font-size-md);
  --span-size: var(--font-size-sm);
  --chip-size: var(--font-size-md);
  --rpbox-text: var(--font-size-xl);
  --rpbox-title: var(--font-size-2xl);
  --title-size-dt: var(--font-size-2xl);

  /* ICON SIZES (PRIMITIVES) */
  --icon-size-xs: 0.8rem;
  --icon-size-sm: 1.2rem;
  --icon-size-md: 1.6rem;
  --icon-size-lg: 2.0rem;
  --icon-size-xl: 2.4rem;
  --icon-size-2xl: 3.2rem;

  /* ICON SIZES (TOKENS) */
  --nav-icon: var(--icon-size-md);
  --span-icon: var(--icon-size-md);
  --button-icon: var(--icon-size-md);
  --button-icon: var(--icon-size-md);
  --nav-icon-dt: var(--icon-size-lg);

  /* BORDER RADIUS (PRIMITIVES) */
  --radius-sm: 0.8rem;
  --radius-md: 1.2rem;
  --radius-lg: 1.6rem;
  --radius-xl: 2.4rem;
  --radius-2xl: 3.2rem;

  /* BORDER RADIUS (TOKENS) */
  --nav-link: var(--radius-sm);
  --link-radius: var(--radius-sm);
  --message-content: var(--radius-sm);
  --user-avatar: var(--radius-sm);
  --character-avatar: var(--radius-sm);
  --card-radius: var(--radius-md);
  --chat-avatar: var(--radius-2xl);
  --span-radius: var(--radius-sm);
  --input-radius: var(--radius-sm);
  --search-input-radius: var(--radius-2xl);
  --rpbox-radius: var(--radius-lg);
  --banner-radius: var(--radius-lg);
}